body {
	text-align: center;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	color: #333;
}

div {
	margin: 10px;
}

label {
	display: inline-block;
	width: 200px;
}

input {
	width: 50px;
}

button {
	display: block;
	margin: 10px auto;
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
}

#matrix,
#result {
	display: none;
	padding: 10px;
	background-color: #f2f2f2;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #333;
	font-size: 18px;
	max-width:fit-content;
	margin: 0 auto;
}

#matrix {
	border: 1px solid #666;
	background-color: #fff;
}

#result {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #e6e6e6;
}